# Pandas Fundamentals: Dataframes

Objective of this notebook is coding examples for fundamental Dataframe operations.

This notebook uses references from [Up and Running with Pandas](https://www.pluralsight.com/courses/up-running-pandas) Pluralsight course.

In [ ]:
# Install required dependencies
!pip install pandas pyarrow

In [16]:
import pandas as pd
from pandas.testing import assert_frame_equal

# Sample Dictionary
dict = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'San Francisco', 'Seattle']
}

# Globals
file_prefix = '01_dataframes'

## Data Representation

Examples for data representation in different file formats


---

### Parquet

In [24]:
parquet_file = f'{file_prefix}.parquet'

# Write
dict_df = pd.DataFrame(dict)
dict_df.to_parquet(parquet_file)

# Read
parquet_df = pd.read_parquet(parquet_file)
parquet_df

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35        Seattle

In [25]:
# Assert data frames are equal
assert_frame_equal(dict_df, parquet_df)

---

### JSON

In [41]:
json_file = f'{file_prefix}.json'

# Write
dict_df = pd.DataFrame(dict)
dict_df.to_json(json_file, orient='records')

# Read
json_df = pd.read_json(json_file)
json_df

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35        Seattle

In [42]:
# Assert data frames are equal
assert_frame_equal(dict_df, json_df)

---

### CSV

In [46]:
csv_file = f'{file_prefix}.csv'

# Write
dict_df = pd.DataFrame(dict)
dict_df.to_csv(csv_file, index=False)

# Read
csv_df = pd.read_csv(csv_file)
csv_df

      Name  Age           City
0    Alice   25       New York
1      Bob   30  San Francisco
2  Charlie   35        Seattle

In [47]:
# Assert data frames are equal
assert_frame_equal(dict_df, json_df)